.btn-primary{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-primary:hover{
    background-color: #007BFF;
}

.btn-primary:disabled
{
    background-color: #007BFF;
}

.scoreBoard{
    display: block;
}

