.title {
  width: 100%;
  text-align: center;
  color: #2A77AE;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
}

.subtitle {
  width: 100%;
  text-align: center;
  color: #2A77AE;
  font-weight: bolder;
  margin-bottom: 50px;
}
